.avatar {
  display: inline-block;
  border-radius: $radius-circle;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 36px;
  height: 36px;
  @include smooth;
  &:hover {
    transform: scale(1.05);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

/* SIZE VARIANTS */
.avatar-sm {
  width: 28px;
  height: 28px;
}
.avatar-md {
  width: 36px;
  height: 36px;
}
.avatar-lg {
  width: 48px;
  height: 48px;
}
