.logo {
  display: block;
  width: 100%;
  max-width: 140px;
  height: auto;
  object-fit: contain;
  margin: 0 auto 16px;
  opacity: 0.95;
  @include smooth;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    opacity: 1;
  }
}
